.caixa-carrossel{
    background-color: #61d2ff;
    background-image: url(https://imgur.com/MVZb9vz.png);
    background-repeat: no-repeat;
    width: 100%;




}
.carrossel{

}
.imagem-carrossel{
    width: 100%;

}

.teste-grid{
}
