* {
    text-decoration: none;
}

.fundo{
    height:50px;
    /* background-color: #38b6ff; */
    /* background: rgb(56,182,255);
    background: linear-gradient(180deg, rgba(56,182,255,1) 0%, rgba(0,135,193,1) 0%, rgba(0,212,255,1) 100%); */
    background: rgb(56,182,255);
    background: linear-gradient(180deg, rgba(56,182,255,1) 0%, rgba(0,135,193,1) 0%, rgba(0,212,255,1) 100%);
    
}
.logo{
}
.logo img{
    height: 60px;
}

.texto {
    color: white !important;
    height: auto!important;
}
.item{
    color: white !important;
}

