.container-home1{
min-height: 100vh;    
                                           

}

.titulo-aboutus{
font-family: 'Donau Uppercase', sans-serif!important;
text-transform: uppercase;
color:rgb(56, 182, 255)!important;
margin-bottom: 5%!important;

}

.img-aboutus1{
    margin-left: 10%!important;
    width: 90%;
}



.txt-home1{
font-family: 'Donau Uppercase', sans-serif!important;
text-transform: uppercase;
margin-right: 15%!important;
margin-bottom: 5%!important;
font-size: 18px!important;

}

.container-home2{
    margin-bottom: 5%!important;    
                                               
}    

.txt-indicador{
font-family: 'Donau Uppercase', sans-serif!important;
text-transform: uppercase;
margin-right: 15%!important;
margin-bottom: 5%!important;
font-size: 18px!important;

}

.img-indicador1{
    margin-left: 5%!important;
    width: 60%!important;
    margin-top: 10%!important;
}

.img-indicador2{
    margin-right: 5%!important;
    width: 70%!important;
}


.container-0{
    
}

.container-contato{
    text-align: center;
    
    
}

.container-contato1{
    text-align: center;
    
    
    
}


.titulo-contato{
    margin-top: 5%!important;
}
.box-contato{
    margin: 5%;
    text-align: center!important;
    border-radius: 1px!important;
    border: 2px solid rgba(0, 0, 0, .125);
    width: 30%;
    margin-bottom: 5%;
    

}

.form-contato{
    margin-top:10%;
    margin-bottom:15% ;


}


.txt-area {
    margin-top: 5%;
    margin-bottom: 5%;
    
    width: 90%;  
   
}

.txtdark{
    color: black;
    margin-top: 1%px!important;

    
}



