.box1{
    background-color: #38b6ff;
    height: 120px;
}

.box2{
    background-color: #38b6ff;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}

/* .logo{
    height: 50px;
    width: 50px;
} */
