.rodape{
    width:100%; 
    position:fixed; 
    bottom:0px;
}
.box1{
    background-color: #61d2ff;
    height: 60px;


}

.box2{
    background-color: #38b6ff;
    height: 30px;


}

.redes{
    font-size: 30px !important;
    color: white;
    text-align: center;
}

.textos{
    color: white;
}

