.caixa{
    background-color: #ffffff;
}

.titulo{
    color: rgb(4, 4, 4) !important; 
    font-weight: bold !important;
}

.mtop{
    margin-top: 2% !important;
}

.botao{
    border-color: white !important;
    background-color: #3F51B5 ;
    color: white !important;
}

.postagens{
    background-color: white;
}

.caixa2{
    background-color: rgba(90, 190, 193, 0.906) !important;
}
